{{define "body"}}
<div class="container">
  <form method="post" action=" {{if .Title }} /editPostDb {{else}} /newPost {{end}}">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" value="{{.Title}}" aria-describedby="emailHelp" name="title">
    </div>
    <div class="form-group">
      <label for="body">Corpo</label>
      <textarea class="form-control" name="body" id="body" rows="3">{{.Body}}</textarea>
    </div>
    <input type="hidden" name="id" value="{{.Id}}">
    <button type="submit" class="btn btn-primary">{{if .Title }} Atualizar {{else}} Enviar {{end}}</button>
  </form>
</div>
{{end}}